

body{
    margin: 0;
    width: 100%;
    min-height: calc(100vh - 40px);
    padding-bottom: 40px;
}

body *{
    padding: 0;
    margin: 0;
}

.background{
    position: fixed;
    z-index: -1;
    //background from https://www.myfreetextures.com/worn-parchment-paper-2/
    background-image: url("another-rough-old-and-worn-parchment-paper-900x741.webp");
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@import "src/styles/structure.scss";