.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.col{
    display:flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.character{
    width: 25%;
    overflow-x: hidden;
}