.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spaced{
    justify-content: space-around;
}

.left{
    justify-content: start;
}

.center{
    justify-content: center;
}

.right{
    justify-content: end;
}